.chad{ position: absolute;
    width: 550px;
    height: 367px;
   }

.chad_line_left {
    position: relative;
    height: 100%;
    width: 33.3%;
    background: #002569;
    display: inline-block;
    float: left;
}

.chad_line_middle{
    position: relative;
    height: 100%;
    width: 33.3%;
    background: #ffce00;
    display: inline-block;
    float: left;

}

.chad_line_right {
    position: relative;
    height: 100%;
    width: 33.3%;
    background: #d21034;
    display: inline-block;
    float: left;
}