.Column-Favorite-Dispatch__Mail-Addressee
    width 634
    height 784
    position relative
    top -75px
    font-size 2em

.Column-Favorite-Dispatch_Background
    height 600%
    width 171%
    positon relative
    margin-top -212px
    background-size 100%
    background-repeat no-repeat

.Column-Favorite-Dispatch_Information
    height 300px
    width 634px
    font-size 2em

.Column-Favorite-Dispatch_Radius
    width 220px
    height 220px
    border-radius 50%

.Column-Favorite-Dispatch_Photo
    width 200px
    height 200px
    border-radius 50%

.Column-Favorite-Dispatch_statistics-list
    height 110px

.Column-Favorite-Dispatch_list-all
    width 258px

.Column-Favorite-Dispatch
    width 634px
    height 1200px
    margin-left -40px

.Column-Favorite-Dispatch_Name
    font-size .6em

.Column-Favorite-Dispatch_History
    font-size .5em

