.ChangeFontNavirator {
  font-family: "OpenSansBold";
  font-style: normal;
  font-size: font-size;
}
.Column-Favorite-Dispatch__Mail-Addressee {
  display: flex;
  flex-direction: column;
  width: 372px;
  height: 392px;
  margin-bottom: 40px;
}
.Column-Favorite-Dispatch_Background {
  display: flex;
  flex-direction: column;
  height: 210px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-image: url("../image/HobbiPetrusenko.jpg");
  Background-repeat: no-repeat;
  Background-size: 100%;
}
.Column-Favorite-Dispatch_Information {
  height: 150px;
  background-color: #fff;
}
.Column-Favorite-Dispatch_Radius {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #f0eeed;
  display: inline-block;
  margin-left: 15px;
  margin-top: 5px;
}
.Column-Favorite-Dispatch_Photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-image: url("../image/Petrusenko.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  display: inline-block;
  margin-left: 2px;
  margin-top: 2px;
}
.Column-Favorite-Dispatch_Name {
  clear: both;
  float: right;
  color: #675d52;
  font-size: 18px;
  line-height: 0.5;
  margin-right: 40px;
  margin-top: 25px;
  font-family: "OpenSansBold";
}
.Column-Favorite-Dispatch_History {
  color: #aca297;
  font-family: "OpenSans-Regular";
  margin-top: 20px;
  font-size: 0.5em;
}
.Column-Favorite-Dispatch_statistics-list {
  list-style: none;
  height: 55px;
  display: flex;
  padding: 0;
  border-radius: 0 0 10px 10px;
  outline: none;
  background-color: #f6f0ec;
  border: 0;
}
.Column-Favorite-Dispatch_list-all {
  width: 129px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  background-color: #f6f0ec;
  display: flex;
}
.Column-Favorite-Dispatch_list-comment-number {
  margin-top: 15px;
}
#Column-Favorite-Dispatch_lake {
  margin-top: 15px;
}
.Column-Favorite-Dispatch_list-view {
  background-image: url("../image/view.png");
  border-bottom-left-radius: 10px;
  color: #aca297;
  font-size: 15px;
  border: 0;
}
.Column-Favorite-Dispatch_list-view:hover {
  background-image: url("../image/view-red.png");
}
.Column-Favorite-Dispatch_list-comment {
  background-image: url("../image/comment.png");
  color: #aca297;
  font-size: 15px;
  border-left: 1.5px solid #fff;
  border-right: 1.5px solid #fff;
  border-bottom: 0;
  border-top: 0;
}
.Column-Favorite-Dispatch_list-comment:hover {
  background-image: url("../image/comment-red.png");
}
.Column-Favorite-Dispatch_list-like {
  background-image: url("../image/like.png");
  border-bottom-right-radius: 10px;
  color: #aca297;
  font-size: 15px;
  border: 0;
}
.Column-Favorite-Dispatch_list-like:hover {
  background-image: url("../image/like-red.png");
}
