.ChangeFontNavirator {
  font-family: "OpenSansBold";
  font-style: normal;
  font-size: font-size;
}
.Column-Content__My-Common {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 284px;
  height: 768px;
}
.Column-Content__Diagram {
  display: flex;
  flex-direction: column;
  height: 436px;
  border-radius: 8px;
}
.Column-Content__DiagramBlockLightGreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 0px;
  background-color: #54bc75;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.Column-Content__DiagramBlockDarkGreen {
  height: 171px;
  background-color: #4daf7b;
}
.Column-Content__DiagramBlockLightGreenCounter {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  margin-left: 30px;
  cursor: default;
}
.Column-Content__DiagramBlockLightGreenCounterBottom {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin-left: 30px;
  opacity: 0.5;
}
.Column-Content__DiagramDynamic {
  position: absolute;
  width: 245px;
  height: 83px;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-left: 20px;
}
.Column-Content__DiagramBlockDateClock {
  display: flex;
  flex-direction: column;
  height: 84px;
  background-color: #fff;
}
.Column-Content__DiagramDateClockStyle {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 15px;
  font-family: OpenSans-Regular;
  color: #cac4bd;
  cursor: default;
}
.Column-Content__DiagramCityCountryStyle {
  color: #a5998d;
  font-size: 18px;
  font-family: OpenSans-Regular;
  margin-top: -40px;
  margin-left: 20px;
  text-transform: uppercase;
  cursor: default;
}
.Column-Content__DiagramConverterBackground {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 284px;
  height: 199px;
  margin: 0px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.Column-Content__DiagramConverter {
  display: flex;
  flex-direction: row;
  width: 242px;
  height: 65px;
  background-color: #fff;
}
.Column-Content__DiagramConverterSharesTraded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 65px;
  background-color: #f6f0ec;
  border-radius: 2px;
  border-right: 1px solid #fff;
  cursor: default;
}
.Column-Content__DiagramConverterMarketCap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 65px;
  background-color: #f6f0ec;
  border-radius: 2px;
  border-left: 1px solid #fff;
  cursor: default;
}
.Column-Content__DiagramConverterBlockStyleText {
  font-size: 12px;
  width: 80px;
  margin: 0px;
  text-align: center;
  font-family: OpenSans-Regular;
  text-transform: capitalize;
  color: #ac9b8a;
}
.Column-Content__DiagramConverterDigitsStyle {
  width: 60px;
  height: 18px;
  font-size: 18px;
  text-align: center;
  color: #897869;
}
.Column-Content__DiagramConverterTextBetweenBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 242px;
  height: 48px;
  cursor: default;
}
.Column-Content__DiagramConverterTextAapl {
  display: flex;
  align-items: flex-end;
  width: 121px;
  height: 43px;
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #a19a8f;
  font-size: 14px;
  font-family: OpenSans-Regular;
}
.Column-Content__DiagramConverterTextYearlyChange {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 121px;
  height: 43px;
  padding-bottom: 5px;
  text-transform: capitalize;
  color: #a19a8f;
  font-size: 14px;
  font-family: OpenSans-Regular;
}
.Column-Content__DiagramConverterBlockBottom {
  display: flex;
  flex-direction: row;
  width: 242px;
  height: 40px;
}
.Column-Content__DiagramConverterBlockBottomGraph {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 124px;
  height: 40px;
}
.Column-Content__DiagramConverterBlockBottomGraphPillarSize {
  width: 9px;
  height: 40px;
}
.Column-Content__DiagramConverterBlockBottomGraphPillarSize:hover {
  background-color: #e5c347;
  box-shadow: 0 0 2px #e5c347;
}
.Column-Content__DiagramConverterBlockBottomGraphPillarRear {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  width: 9px;
  background-color: #f6f0ec;
}
.Column-Content__DiagramConverterBlockBottomGraphPillar1 {
  height: 16px;
  background-color: #e55f3b;
}
.Column-Content__DiagramConverterBlockBottomGraphPillar2 {
  height: 20px;
  background-color: #e55f3b;
}
.Column-Content__DiagramConverterBlockBottomGraphPillar3 {
  height: 28px;
  background-color: #e55f3b;
}
.Column-Content__DiagramConverterBlockBottomGraphPillar4 {
  height: 34px;
  background-color: #e55f3b;
}
.Column-Content__DiagramConverterBlockBottomGraphPillar5 {
  height: 16px;
  background-color: #e55f3b;
}
.Column-Content__DiagramConverterBlockBottomGraphPillar6 {
  height: 30px;
  background-color: #4daf7b;
}
.Column-Content__DiagramConverterBlockBottomGraphPillar7 {
  height: 20px;
  background-color: #4daf7b;
}
.Column-Content__DiagramConverterBlockBottomGraphPillar8 {
  height: 6px;
  background-color: #4daf7b;
}
.Column-Content__DiagramConverterBlockBottomGraphPillar9 {
  height: 10px;
  background-color: #4daf7b;
}
.Column-Content__DiagramInputField {
  display: flex;
  position: absolute;
  margin-left: 148px;
  width: 93px;
  height: 40px;
  text-align: center;
  background-color: #4daf7b;
  border: none;
  border-radius: 2px;
}
::placeholder {
  color: #fff;
}
.Column-Content__DiagramInputField:focus {
  color: #000;
  border: 1px solid #000;
}
.Column-Content__My-Common-Settings {
  display: flex;
  flex-direction: column;
  width: 284px;
  height: 290px;
  background-color: #fff;
  border-radius: 8px;
}
.Column-Content__My-Common-SettingsBlockFollowers {
  display: flex;
  flex-direction: row;
  height: 130px;
  background-color: #b1a599;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.Column-Content__My-Common-SettingsBlockFollowersName {
  display: flex;
  height: 57px;
  width: 100px;
  font-family: "OpenSansBold";
  font-style: normal;
  text-transform: uppercase;
  font-size: 1em;
  line-height: 20px;
  white-space: pre-wrap;
  color: #fff;
  margin: 30px 20px;
  cursor: default;
}
.Column-Content__My-Common-SettingsBlockFollowersCounts {
  display: flex;
  width: 600px;
  height: 50px;
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-size: 0.8em;
  margin: 75px -105px;
  color: #897e73;
  cursor: default;
}
.Column-Content__My-Common-SettingsBlockFollowersBorderAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50px 50px 50px 50px;
  border: 1px solid #978b7f;
  margin-top: 18px;
  margin-left: 22px;
  background-color: #b1a599;
}
.Column-Content__My-Common-SettingsBlockFollowersAvatar {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50px 50px 50px 50px;
  background-image: url("../image/depositphotos.png");
  background-repeat: no-repeat;
}
.Column-Content__My-Common-SettingsBlockUser {
  display: flex;
  flex-direction: row;
  width: 284px;
  height: 40px;
}
.Column-Content__My-Common-SettingsBlokStattings {
  display: flex;
  flex-direction: row;
  width: 284px;
  height: 40px;
}
.Column-Content__My-Common-SettingsBlockSetting {
  display: flex;
  flex-direction: row;
  width: 284px;
  height: 40px;
}
.Column-Content__My-Common-SettingsBlockEvents {
  display: flex;
  flex-direction: row;
  width: 284px;
  height: 40px;
}
.Column-Content__My-Common-SettingsBlockUserName {
  display: flex;
  align-items: center;
  width: 245px;
  height: 40px;
  padding-left: 15px;
}
.Column-Content__My-Common-SettingsBlockUserName:hover {
  background: #f8f3f0;
  border-left: 4px solid #4daf7b;
  background-image: none;
  cursor: default;
}
.Column-Content__My-Common-SettingsBlockUserName:hover~.Icon.Column-Content__My-Common-SettingsBlockUserIcon {
  background-position: 9px -18px;
}
.Column-Content__My-Common-SettingsBlockStatisticsName {
  display: flex;
  align-items: center;
  width: 245px;
  height: 40px;
  padding-left: 15px;
}
.Column-Content__My-Common-SettingsBlockStatisticsName:hover {
  background: #f8f3f0;
  border-left: 4px solid #4daf7b;
  background-position: -46px 0px;
  cursor: default;
}
.Column-Content__My-Common-SettingsBlockStatisticsName:hover~.Column-Content__My-Common-SettingsBlockStatisticsIcon {
  background-position: -18px -19px;
}
.Column-Content__My-Common-SettingsBlockSettingName {
  display: flex;
  align-items: center;
  width: 245px;
  height: 40px;
  padding-left: 15px;
}
.Column-Content__My-Common-SettingsBlockSettingName:hover {
  background: #f8f3f0;
  border-left: 4px solid #4daf7b;
  background-image: none;
  cursor: default;
}
.Column-Content__My-Common-SettingsBlockSettingName:hover~.Column-Content__My-Common-SettingsBlockSettingIcon {
  background-position: -46px -19px;
}
.Column-Content__My-Common-SettingsBlockEventsName {
  display: flex;
  align-items: center;
  width: 242px;
  height: 40px;
  padding-left: 15px;
}
.Column-Content__My-Common-SettingsBlockEventsName:hover {
  background: #f8f3f0;
  border-left: 4px solid #4daf7b;
  background-image: none;
  cursor: default;
}
.Column-Content__My-Common-SettingsBlockEventsName:hover~.Column-Content__My-Common-SettingsBlockEventsIcon {
  background-position: -72px -19px;
}
.Icon {
  width: 40px;
  height: 40px;
  background: url("../image/ProfileIcons.png");
  background-repeat: no-repeat;
}
.Icon.Column-Content__My-Common-SettingsBlockUserIcon {
  background-position: 9px 10px;
}
.Column-Content__My-Common-SettingsBlockStatisticsIcon {
  display: flex;
  background-position: -18px 10px;
}
.Column-Content__My-Common-SettingsBlockSettingIcon {
  display: flex;
  background-position: -46px 10px;
}
.Column-Content__My-Common-SettingsBlockEventsIcon {
  display: flex;
  background-position: -72px 10px;
}
