.germany {
    position: absolute;
    width: 550px;
    height: 330px;
}

.germany_line_top{
    position: relative;
    width: 100%;
    height: 33.3%;
    background: #000000;
}

.germany_line_middle{
    position: relative;
    width: 100%;
    height: 33.3%;
    background: #dd0000;
}

.germany_line_bottom{
    position: relative;
    width: 100%;
    height: 33.3%;
    background: #ffce00;
}
