.japan {
    display: flex;
    position:absolute;
    width: 550px;
    height: 367px;
    background: #ffffff;
    border: 1px solid #000000;

}

.japan_circle {
    width: 220px;
    height: 220px;
    margin:auto;
    background: #be0026;
    border-radius: 110px;

}
