@import url(Header.css);
@import url(SectionMain.css);
@import url(SectionSecond.css);
@import url(Form.css);
@import url(Footer.css);
@font-face {
    font-family:"Lato";
    font-style: normal;
    font-weight: normal;
    src: local("Lato Regular"), local("Lato-Regular"),
    url('../Font/Font_Lato.woff2') format('woff2'),
    url('../Font/Font_Lato.woff') format('woff');
}
@font-face {
    font-family: "BigJohn";
    src: url('../Font/Header_FontBigjohn.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SlimJoe";
    src: url('../Font/Header_FontSlimjoe.otf');
    font-weight: normal;
    font-style: normal;
}
.Foliac_StyleSite{
    width: 1920px;
    background-repeat: no-repeat;
    margin: 0px auto;

}